@{
    
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<h4>Bitte zwei Zahlen eingeben</h4>
<form action="/Calculater/Result" method="post">

    <div class="container">
        <div class="row">

            <div class="col-sm-2">
                <div class="form-group">                    
                    <input type="number" class="form-control" Name="input1" placeholder="Zahl 1">
                </div>
            </div>

            <div class="col-sm-2">
                <select class="form-control" name="Operator">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                    <option value="%">%</option>
                </select>

            </div>

            <div class="col-sm-2">
                <div class="form-group">                    
                    <input type="number" class="form-control" Name="input2" placeholder="Zahl 2">
                </div>
            </div>

            <div class="col-sm-2">
                <input class="btn btn-info" type="submit" Name="submit" value="=" />
            </div>

        </div>
    </div>



</form>